* {
    margin: 0;
    padding: 0;
}

header {
    color: #d79921;
    font-family: Verdana;
    background-color: #928374;
    height: 90px;
}

title {
    float: left;
    padding-right: 200px;
}

#unLogo {
	height: 70px;
	max-width: 90px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

#webLogo {
    float: left;
    font-size: 10px;
    padding-right: 200px;
}

a {
    text-decoration: none;
    color: #3c3836;
}

nav {
    height: auto;
    padding: 1px;
    padding-top: 10px;
    width: auto;
}

.navi {
    display: inline-block;
    padding: 14px;
    background-color: #bdae93;
    border-radius: 5px;
    border: solid 3px #928374
}

ul {
    display: flex;
    font-size: 1vw;
    padding-left: 290px;
}

@media (max-width: 1100px) {
    #webLogo {
        padding-right: none;
    }
  }

body {
    background-color: #fbf1cf;
    color: #3c3836;
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.5;
}

section {
    background-color: #7c6f64;
    padding-top: 100px;
    height: 400px;
}

section > h3 {
    color: #d79921;
}

button {
    background-color: #928374;
    color: #fbf1cf;
    border: solid 3px black;
    border-radius: 3px;
}
