* {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

#navBar {
    display: none;
    margin-top: 0px;
}

header {
    background-color: #928374;
    height: 90px;
}

.unLogo {
	height: 80px;
	max-width: 100px;
    float: left;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

#webLogo {
    float: left;
    width: 20%;
    display: flex;
    font-size: 8px;
    color: #bdae93;
}

a {
    text-decoration: none;
    color: #3c3836;
}

nav {
    height: auto;
    float: right;
    padding-top: 5px;
    margin-right: 10px;
    font-size: x-small;
}

.navi {
    padding: 14px;
    background-color: #bdae93;
    border-radius: 5px;
    border: solid 3px #928374
}


.navi:hover {
    background-color: #fbf1cf;
}

.activeNavi {
    background-color: #d2b67d;
    display: inline-block;
    padding: 14px;
    border-radius: 5px;
    border: solid 3px #928374
}

ul {
    display: flex;
    list-style-type: none;
}

body {
    background-color: #fbf1cf;
    color: #3c3836;
	font-family: Verdana;
	font-size: 16px;
	line-height: 1.5;
}

section {
    background-color: #7c6f64;
    padding-top: 20px;
    height: auto;
}

#photo1 {
    height: 400px;
    width: 60%;
    float: right;
    border: solid 5px black;
    margin-left: 50px;
    margin-right: 10px;
    margin-bottom: 50px;
}

#photo2 {
    height: 250px;
    width: 33%;
    float: right;
}

section > h3 {
    color: #bdae93;
    font-size: 20px;
}

#webDesc > p {
    display: flex;
    background-color: #fbf1cf;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-top: 20px;
    margin-left: 10px;
    border: solid 3px #3c3836;
    border-radius: 8px;
}


button {
    background-color: #928374;
    color: #fbf1cf;
    border: solid 3px black;
    border-radius: 3px;
    padding-right: 6px;
    padding-left: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

button:hover {
    background-color: #d2b67d;
}

#textBox1 {
    display: inline-block;
    border: solid 5px #3c3836;
    border-radius: 3px;
}

.goalMainText {
    display: inline-block;
    border: solid 5px #3c3836;
    border-radius: 3px;
    margin-right: 25%;
    margin-left: 25%;
    padding: 1%;
    margin-top: 1%;
    text-align: left;
    word-break: keep-all;

}
.footer {
    text-align: center;
}
#imfLogo {
    float: left;
    width: 30%;
    height: 29%;
    margin: 10%;
}

#gdpGraph {
    float: right;
    width: 30%;
    margin: 10% ;
}

#econSecond {
    clear: left;
    /* starts text lower down to prevent wordwrap with images */
}

.goalTitle {
    text-align: center;
    padding: 1%;
}
@media only screen and (max-width: 825px) {
    nav {
		display: none;
	}

    #navBar {
        height: 40px;
        display: grid;
        margin-left: 500px;
        font-size: medium;
        margin-bottom: 20%;
        background-color: aqua;
    }
    .goalMainText {
        margin-right: 5%;
        margin-left: 5%;

    }
}